@use "../../assets/styles/variables";

.pageWrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  font-family: variables.$font-family;
}

.heroImage {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.contentContainer {
  position: relative;
  z-index: 1;
  padding-top: 300px;
}

.backButton {
  background-color: #ffffff !important;
  color: variables.$primary-text !important;
  font-family: variables.$font-family !important;
  font-weight: 700 !important;
  text-transform: none !important;
  font-size: 16px !important;
  border: 1px solid #b8b5b5 !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05) !important;

  &:hover {
    background-color: #f9f9f9 !important;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1) !important;
  }
}

.articlePaper {
  background-color: #ffffff !important;
  border: 1px solid #eaeaea !important;
  border-radius: 5px !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05) !important;
}

.articleTitle {
  color: variables.$primary-text;
  font-family: variables.$font-family;
  font-weight: 400;
  line-height: 1.2;
}

.articleText {
  color: #000000;
  font-family: variables.$font-family;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
}
