@use "../../assets/styles/variables";

.searchInput {
  input {
    font-family: variables.$font-family !important;
    color: variables.$primary-text;
  }

  .searchIcon {
    color: variables.$secondary-text;
  }
}
