@import "../../assets/styles/variables";

.cardContainer {
  font-family: $font-family !important; 

  .dateInfo {
    color: $secondary-text;
    display: flex;
    align-items: center;
    font-family: $font-family;
  }

  h2.title {
    color: $primary-text;
    font-family: $font-family;
    font-weight: 600;
  }

  .summary {
    color: $secondary-text;
    font-family: $font-family;
  }

  .readMoreLink {
    color: $primary-text;
    font-family: $font-family;
    font-weight: 700;
    transition: text-decoration 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }
}
