@use "../../assets/styles/variables";

.cardContainer {
  font-family: variables.$font-family !important;

  .dateInfo {
    color: variables.$secondary-text;
    display: flex;
    align-items: center;
    font-family: variables.$font-family;
  }

  h2.title {
    color: variables.$primary-text;
    font-family: variables.$font-family;
    font-weight: 600;
  }

  .summary {
    color: variables.$secondary-text;
    font-family: variables.$font-family;
  }

  .readMoreLink {
    color: variables.$primary-text;
    font-family: variables.$font-family;
    font-weight: 700;
    transition: text-decoration 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }
}
