@use "../../assets/styles/variables";

.homeContainer {
  font-family: variables.$font-family;
  color: variables.$primary-text;
}

.filterLabel {
  font-weight: 600;
  font-family: variables.$font-family;
  color: variables.$primary-text;
}

.resultsCount {
  font-weight: 600;
  font-family: variables.$font-family;
  color: variables.$primary-text;
  border-bottom: 1px solid #eaeaea;
}

.loadMoreBtn {
  background-color: variables.$primary-text !important;
  color: #ffffff !important;
  font-family: variables.$font-family !important;
  font-weight: 700 !important;
  text-transform: none !important;
  padding: 10px 30px !important;

  &:hover {
    background-color: #000000 !important;
  }

  &:disabled {
    background-color: #cccccc !important;
  }
}
